In [1]:
import sys
sys.path.append("../")

### import packages

In [2]:
from torch.utils.data import Dataset, DataLoader
import pandas as pd
import numpy as np
from serieset import TimeSeriesDataset

### load dataset file

In [3]:
data = pd.read_csv("./data/ETTh1.csv")

### process raw dataset: add group_id column (required)

In [4]:
data["group_id"] = "group_id"

In [5]:
print(data.head())
print(f"minimum date: {data['date'].min()}")
print(f"maximum date: {data['date'].max()}")

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT  \
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

   group_id
0  group_id
1  group_id
2  group_id
3  group_id
4  group_id
minimum date: 2016-07-01 00:00:00
maximum date: 2018-06-26 19:00:00

### here is some arguments for TimeSeriesDataset

In [6]:
params = {
    'target_col': 'OT',
    'features': ["HUFL", "HULL"],
    'group_id': 'group_id',
    'date_col': 'date',
    'inp_len': 36,
    'pred_len': 12,
    'train_val_split_date': '2018-01-01 00:00:00',
    'mode': 'train',
}

### create TimeSeriesDataset instance

In [7]:
torch_dataset = TimeSeriesDataset(
    data=data,
    **params
)

### TimeSeriesDataset returns a dictionary of ['x', 'x_feats', 'y', 'group_id', 'sample_id']

In [8]:
print(f"output of dataset is: {torch_dataset[0].keys()}")

output of dataset is: dict_keys(['x', 'x_feats', 'y', 'group_id', 'sample_id'])

### 'x' is input time series

In [9]:
print(f"shape of x: {torch_dataset[0]['x'].shape}")

shape of x: torch.Size([36])

In [10]:
# check correctness
not_equal = (torch_dataset[0]['x'].numpy() != data["OT"][:params['inp_len']].astype(np.float32)).sum()
print(f"first sample not equal: {not_equal}")

first sample not equal: 0

### 'x_feats' is input covariates

In [11]:
print(f"shape of x_feats: {torch_dataset[0]['x_feats'].shape}")

shape of x_feats: torch.Size([36, 2])

In [12]:
not_equal = (torch_dataset[0]['x_feats'].numpy() != data[params['features']][:params['inp_len']].astype(np.float32)).sum()
print(f"first sample features not equal: {not_equal}")

first sample features not equal: HUFL    0
HULL    0
dtype: int64

### 'y' is target time series

In [13]:
print(f"shape of y: {torch_dataset[0]['y'].shape}")

shape of y: torch.Size([12])

In [14]:
# check correctness
not_equal = (torch_dataset[0]['y'].numpy() != data["OT"][params['inp_len']: params['inp_len']+ params['pred_len']].astype(np.float32)).sum()
print(f"first sample not equal: {not_equal}")

first sample not equal: 0

### 'group_id' is time series group id

In [15]:
print(f"group id: {torch_dataset[0]['group_id']}")

group id: 0

### each training / validation sample has a 'sample_id'

In [16]:
print(f"sample id: {torch_dataset[0]['sample_id']}")

sample id: 0

### furthermore, you can check index manually

In [17]:
torch_dataset.index

       index_start  index_end  group_id   predict_start_date  sample_id
0                0         47         0  2016-07-02 12:00:00          0
1                1         48         0  2016-07-02 13:00:00          1
2                2         49         0  2016-07-02 14:00:00          2
3                3         50         0  2016-07-02 15:00:00          3
4                4         51         0  2016-07-02 16:00:00          4
...            ...        ...       ...                  ...        ...
13135        13135      13182         0  2017-12-31 19:00:00      13135
13136        13136      13183         0  2017-12-31 20:00:00      13136
13137        13137      13184         0  2017-12-31 21:00:00      13137
13138        13138      13185         0  2017-12-31 22:00:00      13138
13139        13139      13186         0  2017-12-31 23:00:00      13139

[13140 rows x 5 columns]

### dataloader

In [18]:
dl = DataLoader(torch_dataset, batch_size=2, shuffle=True)

In [22]:
next(iter(dl))

{'x': tensor([[14.3510, 14.5620, 14.1400, 14.3510, 13.9990, 13.7880, 13.5070, 13.3660,
          13.0850, 14.3510, 13.6470, 14.0690, 13.6470, 12.9440, 12.4510, 12.3810,
          12.1700, 12.1000, 11.8180, 11.5370, 11.3960, 11.6070, 11.1850, 11.1850,
          10.9740, 11.0440, 11.0440, 10.8330, 11.1850, 11.3960, 11.3960, 11.0440,
          11.1850, 11.3260, 11.2560, 11.5370],
         [36.0180, 36.2290, 36.5100, 36.7210, 36.5800, 37.7060, 37.7060, 37.6360,
          37.0030, 38.5500, 38.0580, 37.0030, 37.0030, 29.8270, 32.8520, 36.1580,
          35.8070, 37.7760, 39.5350, 38.2690, 34.7510, 33.7670, 32.8520, 33.1330,
          34.3290, 35.3850, 34.5400, 32.7110, 33.9070, 34.6810, 35.6660, 34.4700,
          35.3140, 33.8370, 35.8770, 35.5250]]),
 'x_feats': tensor([[[12.8600,  1.2730],
          [11.8550,  0.4690],
          [11.1190, -0.2010],
          [11.7880,  0.0670],
          [10.7840,  0.6700],
          [ 8.6400,  0.6700],
          [ 8.1720,  0.0670],
          [ 8.2390,  0.0670],
          [ 3.0810, -0.0670],
          [ 3.8850, -0.8040],
          [ 4.4880, -0.5360],
          [ 4.2870,  0.0000],
          [ 4.7560, -0.7370],
          [ 6.4300, -1.4740],
          [ 8.0380, -1.0720],
          [ 7.2340, -2.8800],
          [ 7.6360, -2.2100],
          [ 8.4390, -1.7410],
          [ 9.3100, -1.8750],
          [ 8.9750, -0.6030],
          [11.3200, -1.9420],
          [12.3910, -2.2100],
          [11.8550, -1.6740],
          [11.7880, -1.6080],
          [10.6500, -2.9470],
          [12.1900, -1.1390],
          [12.0560, -2.3440],
          [11.9890, -2.8800],
          [10.3150, -2.0760],
          [ 9.1760, -2.2770],
          [ 5.7600, -4.0860],
          [ 6.2290, -3.8850],
          [ 3.8850, -3.4830],
          [ 1.6080, -4.0860],
          [ 1.6740, -3.8850],
          [ 2.4780, -3.1480]],

         [[12.7930,  2.7460],
          [16.0080,  5.6930],
          [19.1560,  6.2290],
          [16.8120,  5.8940],
          [17.6160,  5.9610],
          [16.3430,  5.7600],
          [18.0180,  7.1000],
          [18.1520,  7.0330],
          [16.2090,  4.8230],
          [13.4630,  4.0860],
          [10.3150,  3.4160],
          [ 8.8410,  3.1480],
          [10.2480,  3.2820],
          [ 8.5730,  2.0090],
          [ 8.7740,  2.1430],
          [ 9.5110,  1.6080],
          [ 8.7740,  2.0760],
          [ 9.3100,  2.1430],
          [ 8.3060,  2.2770],
          [ 8.9750,  2.2770],
          [ 8.8410,  2.1430],
          [ 9.0420,  2.3440],
          [11.2530,  2.6120],
          [11.9890,  3.4160],
          [12.5250,  3.8180],
          [13.5970,  4.6220],
          [14.6020,  5.3580],
          [13.4630,  4.5550],
          [12.2570,  3.8850],
          [12.2570,  4.6890],
          [11.5880,  3.6840],
          [11.9220,  3.3490],
          [11.5210,  3.6840],
          [ 8.7740,  2.6790],
          [ 7.9710,  3.0810],
          [ 8.3060,  2.4110]]]),
 'y': tensor([[11.1850, 11.1150, 10.7630, 10.6930, 10.9040, 11.1150, 10.1300, 10.4110,
          10.1300, 10.0600, 10.0600, 10.0600],
         [36.5800, 37.3540, 34.6110, 33.8370, 33.2040, 34.6810, 36.7210, 34.7510,
          24.9030, 32.8520, 33.1330, 29.9680]]),
 'group_id': tensor([0, 0]),
 'sample_id': tensor([10179,   286])}

In [26]:
for itr in dl:
    print(itr)
    break

{'x': tensor([[ 3.2360,  2.9550,  0.9850,  0.7740,  0.0000,  0.9850,  0.0000,  0.6330,
          0.0000, -0.6330,  2.1810,  2.4620,  3.0950,  5.2760,  5.3460,  4.2910,
          5.3460,  4.7130,  5.9790,  4.5020,  6.6130,  6.8240,  6.9640,  4.9950,
          5.6980,  6.6130,  6.4020,  3.7280,  3.1660,  5.0650,  5.2760,  3.7280,
          5.3460,  6.8240,  7.0350,  6.6130],
        [ 9.4260,  9.3560,  8.5120,  8.8640,  8.3010,  9.0040,  5.0650,  7.1050,
          5.5570,  5.9090,  4.2210,  4.6430,  6.1200,  7.3860,  3.1660,  3.2360,
          3.3060,  3.2360,  4.0100,  4.0100,  6.7530,  6.7530,  6.7530,  6.7530,
          6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,
          6.7530,  6.7530,  6.7530,  6.7530]]), 'x_feats': tensor([[[ 7.1670, -1.6080],
         [ 6.7650, -1.7410],
         [ 6.6310, -1.5410],
         [ 6.7650, -1.7410],
         [ 7.2340, -1.6740],
         [ 9.2430, -1.4070],
         [11.3870, -0.9380],
         [10.5160, -0.7370],
         [ 9.9800, -0.8710],
         [10.6500, -0.6030],
         [ 8.9080, -1.0720],
         [ 8.9750, -0.8710],
         [10.0470, -0.7370],
         [10.1140, -0.4690],
         [12.9270, -0.2680],
         [13.7980, -0.3350],
         [14.0660, -0.3350],
         [15.4720, -0.0670],
         [15.8070,  0.0000],
         [15.0700, -0.1340],
         [13.3290, -0.4690],
         [11.8550, -0.6030],
         [10.7840, -0.8710],
         [ 9.6450, -0.8040],
         [ 8.7070, -1.0050],
         [ 8.1720, -1.1390],
         [ 8.0380, -1.2060],
         [ 7.5690, -1.4070],
         [ 8.5060, -1.1390],
         [ 9.8460, -0.7370],
         [10.6500, -0.1340],
         [ 5.3580, -0.7370],
         [-0.7370,  0.0000],
         [-3.9520,  0.9380],
         [-3.6840,  0.0670],
         [-4.4880,  0.2010]],

        [[12.7260,  2.2770],
         [11.9890,  2.7460],
         [13.3290,  1.8080],
         [12.9940,  2.3440],
         [10.8510,  2.7460],
         [ 7.4350,  0.3350],
         [ 7.9040,  0.0000],
         [ 6.2290,  0.1340],
         [ 3.7510, -0.6700],
         [ 4.9570,  0.1340],
         [ 5.0900, -0.3350],
         [ 4.3540, -0.0670],
         [ 6.6310, -0.3350],
         [ 8.4390, -0.6030],
         [ 7.3680, -1.2060],
         [ 6.9660, -1.3400],
         [ 6.2960, -1.4740],
         [ 5.6260, -1.4740],
         [ 6.0950, -0.8710],
         [ 8.8410,  0.2680],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000],
         [10.2480,  0.0000]]]), 'y': tensor([[ 7.8090,  6.4020,  5.9090,  6.8940,  7.6680,  7.8090,  7.9490,  7.6680,
          8.4420,  8.2310,  6.4020,  6.8240],
        [ 6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,  6.7530,
         10.6930, 11.4670, 11.8890, 11.3260]]), 'group_id': tensor([0, 0]), 'sample_id': tensor([5330, 6532])}

In [21]:
torch_dataset.group_id_map

{0: 'group_id'}